body{
    background-color: #212121;
    color: #fff;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
}

#time{
    font-size: 40px;
    background-color: aqua;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}
